body {
  font-family: Geneva;
  background-color: #E8A870;
  color: white;
}



h1 {
  font-size: 40px;
  color: #FF70B6;
}

li{
  font-style: italic;
}
h3{
  text-decoration: underline;
}
a{
  color: white;
}